env

accounts/__pycache__/*
accounts/migrations/*

posts/migrations/*
posts/__pycache__/*

comments/migrations/*
comments/__pycache__/*

profiles/migrations/*
profiles/__pycache__/*

r_clone/curls.txt
